.input {
  border: 0.1rem solid #00064B;
  border-radius: 1rem;
  box-sizing: border-box;
  height: 4vh;
  margin-bottom: 5rem;
  margin-top: 1rem;
  padding: 1rem;
  width: 40vh;
}

.half-width {
  width: 19.5vh;
}

.alert {
  color: #E53935;
  margin-bottom: 2.4rem;
  margin-top: -4.4rem;
}
