input {
  border-radius: 1rem;
  border: 0.1rem solid #00064B;
  box-sizing: border-box;
  height: 4vh;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 1rem;
  width: 40vh;
}

.half-width {
  width: 19.5vh;
}
