.message-form-base {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.message-form-container {
  background-color: #E3E3E3;
  border-radius: 2.5rem;
  border: 0.3rem solid #00064B;
  flex-direction: column;
  height: 70vh;
  width: 60vh;
}

.form {
  flex-direction: column;
  height: 50vh;
  width: 40vh;
}

.name {
  flex-direction: row;
  gap: 1rem;
}

.buttons {
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}
