/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #FCFCFF;
}

html {
  color: #00064B;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
}
